* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Corpo*/
body {
    font-family: Arial;
    background-color: #b7d8f5;
}

/*Título*/
h1 {
    text-align: center;
    background-color: rgb(250, 240, 240);
    padding: 15px;
}

p {
    font-size: 21px;
    background-color: rgb(127, 172, 255);
    text-align: center;
}

input {
    display: block;
    margin-left: auto;  
    margin-right: auto;
    padding: 7px;
    width: 200px;
}

button {
    display: block;
    margin: auto;
    font-size: 15px;
    width: 250px;
}

tr {
    align-items: center;
}